.main
  .main__group-info
    .main__group-info__left-box
      %p.main__group-info__left-box__current-group
        = @group.name
      %p.main__group-info__left-box__list
        Member:
        - @group.users.each do |user|
          = user.name
    .main__group-info__edit-btn
      = link_to edit_group_path(@group.id) do
        Edit
  .main__messages
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      .main__form__input-box
        = f.text_field :content, class: 'main__form__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'main__form__input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'main__form__input-box__image__file'
        = f.submit 'Send', class: 'main__form__submit-btn'